.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    flex-wrap: wrap;
}

.full-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 250px 150px;
}

.background--color-green {
    background-color: var(--green-background);
}

.form {
    max-width: 600px;
    padding: 20px 0;
}

.form__text {
    line-height: 34px;
    font-size: 18px
}

.form__align {
    display: flex;
    flex-direction: column;
    align-items: center;
}
