.form-question-list {
    max-width: 600px;
    padding: 20px 0;
}

.form-text {
    line-height: 34px;
    font-size: 18px
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}