.full-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 250px 150px;
}

.full-screen--color-blue{
    background-color: var(--blue-background);
}
