/* ------------------------------- 1. Areas ---------------------------------------- */

/* --------------- 1.1 Introduction ------------------------- */
.background-image {
    background-image: url(../../assets/chicoryNoBgOpacity50.png);
    background-size: auto 330px;
    background-repeat: no-repeat;
    background-position: 170% 97%;
    display: flex;
    justify-content: center;
}

.intro-text {
    max-width: 550px;
    padding: 0 5px;
}

/* --------------- 1.2 Top recipe's today ------------------- */

/* --------------- 1.3 Recipe cards ------------------- */

.recipe-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    min-height: 350px;
    padding: 10px;
    margin: 10px;
}

.recipe-card-text {
    display: flex;
    flex-direction: column;
}

.recipe-card-text > p {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.text-specifications {
}

.fruit-img {
    width: 250px;
    height: auto;
}

/* ------------------------------- 2. Media Queries -------------------------------- */

@media screen and (min-width: 410px) {
    .background-image {
        background-size: auto 300px;
        background-position: 110% 90%;
    }
}

@media screen and (min-width: 576px) {
    .background-image {
        background-size: auto 300px;
        background-position: 110% 90%;
    }
}

@media screen and (min-width: 768px) {
    .background-image {
        background-position: 57% 80%;
    }
    .recipe-card-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    /*.img-home {*/
    /*    width: 417px;*/
    /*    height: auto;*/
    /*}*/
}

@media screen and (min-width: 1400px) {
    .recipe-card-item {
        margin: 0 2vw;
    }
}

@media screen and (min-width: 1600px) {
    .recipe-card-item {
        margin: 0 3vw;
    }
}