/* ------------------------------- 1. Areas ---------------------------------------- */

/* --------------- 1.1 Introduction ------------------------- */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    flex-wrap: wrap;
}

.header__img{
    background-image: url(../../assets/chicoryNoBgOpacity50.png);
    background-size: auto 330px;
    background-repeat: no-repeat;
    background-position: 170% 97%;
    display: flex;
    justify-content: center;
}

.header--color-yellow {
    background-color: rgba(246, 245, 174, 0.5);
}

.header__text {
    max-width: 550px;
    padding: 0 5px;
}

/* --------------- 1.2 Top recipe's today ------------------- */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 100px 0;
    flex-wrap: wrap;
}

/* --------------- 1.3 Recipe cards ------------------- */

/* ------------------------------- 2. Media Queries -------------------------------- */

@media screen and (min-width: 410px) {
    .header__img {
        background-size: auto 300px;
        background-position: 110% 90%;
    }
}

@media screen and (min-width: 576px) {
    .header__img{
        background-size: auto 300px;
        background-position: 110% 90%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 180px 11vw;
    }
}

@media screen and (min-width: 768px) {
    .header__img {
        background-position: 57% 80%;
    }
    .header {
        padding: 180px 5vw;
    }
    .row-container {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 992px) {
    .recipe-card-subcontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 900px;
        max-width: 1000px;
    }
}
