/* ------------------------------- Areas ---------------------------------------- */

/* --------------- Search panel ------------------------- */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    flex-wrap: wrap;
}

.full-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 250px 150px;
}

.background--color-champagne {
    background-color: var(--champagne-background);
}

.search__align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__bar {
    padding: 7px 30px;
    margin: 20px;
    width: 250px;
    border-radius: 3px;
    background-color: var(--white);
    border-color: var(--yellow);
    border-style: outset;
    cursor: pointer;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
}

/* --------------- Recipe cards ------------------- */

.recipe-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 768px) {
    .header {
        padding: 180px 11vw;
    }
}

@media screen and (min-width: 768px) {
    .recipe-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header {
        padding: 180px 5vw;
    }
}

@media screen and (min-width: 1200px) {
    .recipe-container {
        margin: 0 5vw;
    }
}

@media screen and (min-width: 1400px) {
    .recipe-container {
        margin: 0 10vw;
    }
}

@media screen and (min-width: 1600px) {
    .recipe-container {
        margin: 0 17vw;
    }
}
