.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    padding: 20px 50px;
    justify-content: space-between;
}

.navbar--onscroll {
    display: flex;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
    position: fixed;
    padding: 20px 100px;
    justify-content: space-around;
    flex: 1 1 auto;
}

.navbar__logo {
    display: flex;
}

.navbar__logo-size {
    height: 50px;
    width: auto;
}

.navbar__link {
    list-style: none;
    font-family: 'Encode Sans Condensed', sans-serif;
    display: flex;
    padding: 10px;
}

.navbar__button-container {
    display: flex;
    align-items: center;
}

.navbar__button {
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: var(--green);
    color: var(--white);
    font-weight: bold;
}

.navbar__button + .navbar__button {
    margin-left: 8px;
}

.navbar__button:hover {
    cursor: pointer;
}

.navbar__link > li {
    padding: 0 10px;
}

nav a,
nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: var(--olivine);
}

.active-link {
    text-decoration: underline;
}

.default-link {
    text-decoration: none;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (min-width: 576px) {
    .navbar {
        padding: 20px 100px;
        flex: 1 1 auto;
    }

    .navbar__link {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0;
        justify-content: flex-end;
        box-sizing: border-box;
        align-items: center;
    }
}
