.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    padding: 20px 50px;
    justify-content: space-around;
}

.navbar--onscroll {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
    position: fixed;
    padding: 20px 100px;
    justify-content: space-around;
    flex: 1 1 auto;
}

.navbar__logo {
    display: flex;
}

.navbar__link{
    list-style: none;
    font-family: 'Encode Sans Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navbar__link-padding{
    padding: 0 10px;
}

.navbar__button-container {
    display: flex;
    align-items: center;
}

.navbar__button {
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: #678D58;
    color: white;
    font-weight: bold;
}

.navbar__button + .navbar__button {
    margin-left: 8px;
}

.navbar__button:hover {
    cursor: pointer;
}

/*.navbar-links > li {*/
/*    padding: 0 10px;*/
/*}*/

nav a,
nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #A6C48A;
}

.active-link {
    text-decoration: underline;
    color: black;
}

.default-link {
    text-decoration: none;
}
