.recipe-item:hover {
    background-color: rgba(121, 251, 35, 0.3);
}

.recipe-item {
    border: solid 2px #F6E7CB;
    list-style: none;
    padding: 15px;
    background-color: rgba(221, 151, 135, 0.3);
    margin: 5px;
    border-radius: 3px;
}

.text-recipe-info {
    font-size: 16px;
}

.text-minutes {
    font-size: 12px;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (min-width: 768px) {
    .recipe-item {
        width: 300px;
        height: 150px;
    }
}
