.recipe-card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    min-height: 350px;
    padding: 10px;
    margin: 10px;
}

.recipe-card-text {
    display: flex;
    flex-direction: column;
}

.recipe-card-text > p {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.fruit-img {
    width: 250px;
    height: auto;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (min-width: 992px) {
    .recipe-card-item {
        width: 250px;
        min-height: 350px;
        padding: 10px;
        margin: 10px;
    }
}

@media screen and (min-width: 1400px) {
    .recipe-card-item {
        width: 250px;
        min-height: 350px;
        padding: 10px;
        margin: 10px;
    }
}
