@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Signika:wght@500&display=swap');

:root {
    --text: #292929;
    --pink: #DD9787;
    --yellow: #FFE8B6;
    --champagne: #F6E7CB;
    --green: #678D58;
    --olivine: #A6C48A;
    --blue: #74D3AE;
    --white: #FFFFFF;

    --pink-background: rgba(221, 151, 135, 0.3);
    --yellow-background: rgba(246, 245, 174, 0.5);
    --champagne-background: rgba(246, 231, 203, 0.5);
    --green-background: rgba(166, 196, 138, 0.5);
    --blue-background: rgba(116, 211, 174, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- Typography  ----------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Signika', sans-serif;
    padding: 5px 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 18px;
    padding: 20px 0;
}

li {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 16px;
}

/*.pink-background {*/
/*    background-color: rgba(221, 151, 135, 0.3);*/
/*}*/

/*.yellow-background {*/
/*    background-color: rgba(246, 245, 174, 0.5);*/
/*}*/

/*.champagne-background {*/
/*    background-color: rgba(246, 231, 203, 0.5);*/
/*}*/

/*.green-background {*/
/*    background-color: rgba(166, 196, 138, 0.5);*/
/*}*/

/*.blue-background {*/
/*    background-color: rgba(116, 211, 174, 0.3);*/
/*}*/

/* --------------- 3.2 Reusables General --------------------------- */

/*.row-container-top {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding: 100px 100px;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.row-container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding: 60px 100px 0;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.full-screen {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    padding: 250px 150px;*/
/*}*/

/*.item-centered {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.form-question-list {*/
/*    max-width: 600px;*/
/*    padding: 20px 0;*/
/*}*/

/*.form-text {*/
/*    line-height: 34px;*/
/*    font-size: 18px*/
/*}*/

/*.form-center {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.form-button {*/
/*    padding: 7px 30px;*/
/*    margin: 20px 20px 20px 0;*/
/*    width: 150px;*/
/*    border-radius: 3px;*/
/*    border-color: #A6C48A;*/
/*    border-style: solid;*/
/*    cursor: pointer;*/
/*    font-family: 'Encode Sans Condensed', sans-serif;*/
/*}*/

/*.register-form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.recipe-list {*/
/*    cursor: pointer;*/
/*}*/

/* ------------------------------- 4. Media Queries -------------------------------- */

/*@media screen and (max-width: 768px) {*/
/*    .row-container-top {*/
/*        padding: 180px 11vw;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 576px) {*/
/*    .navbar-container {*/
/*        padding: 20px 100px;*/
/*        flex: 1 1 auto;*/
/*    }*/

/*    .navbar-links {*/
/*        display: flex;*/
/*        flex-grow: 1;*/
/*        flex-shrink: 1;*/
/*        padding: 0;*/
/*        justify-content: flex-end;*/
/*        box-sizing: border-box;*/
/*        align-items: center;*/
/*    }*/

/*    .form-input {*/
/*        margin-left: 10px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 768px) {*/
/*    .row-container {*/
/*        flex-wrap: nowrap;*/
/*    }*/

/*    .row-container-top {*/
/*        padding: 180px 5vw;*/
/*    }*/
/*}*/
