@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Signika:wght@500&display=swap');

:root {
    --text: #292929;
    --pink: #DD9787;
    --yellow: #FFE8B6;
    --champagne: #F6E7CB;
    --green: #678D58;
    --olivine: #A6C48A;
    --blue: #74D3AE;
    --white: #FFFFFF;

    --pink-background: rgba(221, 151, 135, 0.3);
    --yellow-background: rgba(246, 245, 174, 0.5);
    --champagne-background: rgba(246, 231, 203, 0.5);
    --green-background: rgba(166, 196, 138, 0.5);
    --blue-background: rgba(116, 211, 174, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- Typography  ----------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Signika', sans-serif;
    padding: 5px 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 18px;
    padding: 20px 0;
}

li {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 16px;
}
